.rulesModal{
    @include displayFlex(row, center, center, 0);
    @include setPosition(absolute, 0, 0, auto, auto);
    @include size(100%);
    background: #0000008f;

    &__content{
        @include displayFlex(column, space-between, stretch, 0);
        width: max-content;
        background: #FFF;
        border-radius: 10px;
        padding: 30px;

        @include responsive(miniMobile){
            width: 80%;
        }

        &__header{
            @include displayFlex(row, space-between, stretch, 0);
            margin-bottom: 30px;

            &__text{
                font-size: 20px;
                font-weight: 900;
            }

            &__close{
                cursor: pointer;
            }
        }

        &__body{
            &__img{
                width: 100%;
            }
        }
    }
}