@import 'config';
@import 'reset';
@import 'responsive';
@import 'index';
@import 'rulesModal';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --app-height: 100%;
}

*{
    user-select: none;
}

html{
    font-size: 10px;

    @include responsive(miniLaptop){
        font-size: 8px;
    }

    @include responsive(extraTablet){
        font-size: 6px;
    }

    @include responsive(talbet){
        font-size: 5px;
    }

    @include responsive(mobile){
        font-size: 4px;
    }
}

body{
    @include size(100vw, var(--app-height));
    font-family: 'Roboto Mono', monospace;
    min-height: 550px;
}

.rotateDevice{
    display: none;
    @include setPosition(fixed, 0, auto, auto, 0);
    @include size(100%, var(--app-height));
    overflow: hidden;
    background: #000;

    &__phone{
        @include size(100px, 50px);
        border: 3px solid #FFF;
        border-radius: 10px;
        animation: rotate 1.5s ease-in-out infinite alternate;
    }

    &__message{
        color: #FFF;
        font-size: 1em;
        margin-top: 40px;
    }

    @media only screen and (max-device-width: 768px) and (orientation: landscape) {
        @include displayFlex(column, center, center, 0);
    }
}


@keyframes rotate {
    0% {
          transform: rotate(0deg)
      }
      50% {
          transform: rotate(-90deg)
      }
      100% {
          transform: rotate(-90deg)
      }
  }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
